In [14]:
import pandas as pd

In [15]:
filepath = "C:/Users/Maxi/Desktop/smu-homework/03-Python/Solution/budget_data.csv"
df = pd.read_csv(filepath)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [30]:
net_profit = df["Profit/Losses"].sum()

In [31]:
months = df["Date"].count()

In [51]:
df["Changes"] = df["Profit/Losses"].diff()
average = df["Changes"].mean()
avg = round(average, 2)

In [91]:
mini = df.Changes.min()

In [92]:
mask = df.Changes == df.Changes.min()
greatest_loss = df.loc[mask].Date

In [93]:
maxi = df.Changes.max()

In [94]:
print(maxi)

1926159.0

In [95]:
mask = df.Changes == df.Changes.max()
greatest_increase = df.loc[mask].Date

In [96]:
print("Financial Analysis")
print("-------------------------------")
print("Total Months: " + str(months))
print("Net Profit: "+ str(net_profit))
print("Average Monthly Change: " + str(avg))
print("Greatest increase In Profits: " + greatest_increase + " " + str(maxi))
print("Greatest Loss In Profits: " + greatest_loss+ " " + str(mini))

Financial Analysis
-------------------------------
Total Months: 86
Net Profit: 38382578
Average Monthly Change: -2315.12
25    Greatest increase In Profits: Feb-2012 1926159.0
Name: Date, dtype: object
44    Greatest Loss In Profits: Sep-2013 -2196167.0
Name: Date, dtype: object