In [1]:
import pandas as pd

In [3]:
filepath = "C:/Users/Maxi/Desktop/smu-homework/03-Python/Solution/election_data.csv"
df = pd.read_csv(filepath)
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
total_votes = len(df)

In [35]:
df.Candidate.unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [36]:
winner = df.groupby("Candidate")["Voter ID"].count()
winner

Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
Name: Voter ID, dtype: int64

In [48]:
percent = 100 * (df.groupby("Candidate")["Voter ID"].count() / total_votes)
name_winner = df.loc[winner.max()]

In [49]:
print(winner1)

Empty DataFrame
Columns: [Voter ID, County, Candidate]
Index: []

In [51]:
print("Election Results")
print("-----------------------")
print("Total Votes: " + str(total_votes))
print("-----------------------")
print(percent)
print("-----------------------")
print("Winner: " + str(name_winner))
print("-----------------------")

Election Results
-----------------------
Total Votes: 3521001
-----------------------
Candidate
Correy      19.999994
Khan        63.000011
Li          13.999996
O'Tooley     2.999999
Name: Voter ID, dtype: float64
-----------------------
Winner: Voter ID     13385454
County          Marsh
Candidate        Khan
Name: 2218231, dtype: object
-----------------------