In [1]:
import pandas as pd

In [2]:
filepath = "C:/Users/Maxi/Desktop/smu-homework/03-Python/Solution/budget_data.csv"
df = pd.read_csv(filepath)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
df.tail()

        Date  Profit/Losses
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

In [5]:
df["Profit/Losses"].max()

AttributeError: 'DataFrame' object has no attribute 'Profit'